.Menu {
    .top_menu {
        background-color: #00833e;
        width: 100%;
        justify-content: center;
        height: 60px;
        border-bottom: 3px solid #feb700;

        .top_menu_ul {
            list-style: none;
            display: flex;
            height: 40px;
            margin-top: 0;
            margin-bottom: 0px;
            margin-left: 450px;
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: center;
            // margin-right: 130px;
            // margin-left: 130px;

            li {
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                padding-top: 5px;
                padding-left: 12px;
                padding-right: 12px;
                border-right: 1px solid #fff;

                a {
                    text-decoration: none;
                    color: #fff !important;
                    opacity: .6;
                    cursor: pointer;
                }

                a:hover {
                    opacity: 1;
                }
            }

            .li_end {
                border-right: none;
            }
        }
    }

    .down_menu {
        // background-color: #ffffff;
        width: 100%;
        justify-content: center;
        height: 70px;
        border-bottom: 3px solid #f9f9f9;

        // box-shadow: 0 0 0 2px #AAA; //bóng đổ
        .contener {
            display: flex;
            justify-content: center;
            height: 55px;
            padding-top: 10px;

            .logo {

                img {
                    width: 90px;
                    height: 37px;
                    cursor: pointer;
                    padding-top: 4px;

                }
            }

            .dropdown {
                display: flex;
                margin-left: 100px;
                margin-right: 20px;
                padding-top: 5px;

                .option {
                    display: flex;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: bold;
                    color: #101010;
                    margin-right: 6px;
                    margin-top: 10px;
                    padding: 0 12px;
                    cursor: pointer;

                    img {
                        border: none;
                        background-repeat: no-repeat;
                        width: 10px;
                        height: 10px;
                        margin-left: 10px;
                        margin-bottom: -4px;
                        margin-top: 7px;
                    }
                }
            }

            .hotline {
                a {

                    img {
                        margin-bottom: 10px;
                        width: 177px;
                        padding-top: 3px;
                        margin-right: 8px;

                    }
                }


            }
        }
    }
}